doctype html5
html(lang="fr")
    head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name="viewport" content="width=device-width, initial-scale=1")
      link(rel='stylesheet', href='css/main.css')
      title Alré Ordi Services - Spécialiste du dépannage Informatique & Electronique à Auray(56) et ses alentours.
    body
    span(onclick="openNav()")
      svg
      nav
        a(href='#') Accueil
        a(href='#') Smartphones & Tablettes
        a(href='#') Informatique
        a(href='#') Multimedia, Hifi & Sono
        a(href='#') Electronique
        a(href='#') Nous contacter
      main
        header
          h1 Alré Ordi Services
          h2 Spécialiste du dépannage Informatique & Electronique à Auray(56) et ses alentours.
