doctype html5
html(lang="fr")
    head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(author="Antoine Haddaoui")
      meta(name="viewport" content="width=device-width, initial-scale=1")
      link(rel='stylesheet', href='css/normalize.css')
      link(rel='stylesheet', href='css/main.css')
      title Alré Ordi Services - Spécialiste du dépannage Informatique & Electronique à Auray(56) et ses alentours.
    body
      nav#sidenav
        a(href='#') Accueil
        a(href='#') Smartphones & Tablettes
        a(href='#') Informatique
        a(href='#') Multimedia, Hifi & Sono
        a(href='#') Electronique
        a(href='#') Nous contacter
      main#main
        div.buttonmenu(onclick="swagAnim(this), opencloseNav()")
          div.button
            div.innerbtn.bar1
            div.innerbtn.bar2
            div.innerbtn.bar3
          h3 Menu
        header
          img.mainlogo(src="/img/logo.png")
          h1 Spécialiste du dépannage Informatique & Electronique à Auray(56) et ses alentours.
    script(src='js/vendor/jquery-1.12.0.min.js')
    script(src='js/main.js')
